/* *************************** */
/* ** Site Specific Styling ** */

body {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
}

/* ********************************** */
/* ** Application Specific Styling ** */

.main-panel {
  padding: 15px !important;
  margin-bottom: 15px !important;
}

.clickable{
    cursor:pointer;
}

/* Display status highlights */
.up {
    background-color: #a0f26d !important;;
}

.down {
    background-color: #e60000 !important;;
}

.warn {
    background-color: #fe9e60 !important;;
}

