/* PTC Sim's site-specific css /*
/*
/* Author: Dustin Fast, 2018

/* *************************** */
/* ** Site Specific Styling ** */

body {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
}

/* ********************************** */
/* ** Application Specific Styling ** */

.main-panel {
  padding: 15px !important;
  margin-bottom: 15px !important;
}

.clicked {
    border-style: solid;
    border-width: thick;
    border-color: black;
    cursor:pointer;
}

.clickable {
    cursor:pointer;
}

.clickable:hover {
    border-style:  dotted;
    border-color: blue;
}

#map-legend {
    font-size: 10px !important;
    background: #fff;
    top: 5px;
    padding-left:3em;
    border: 1px solid #000;
}

/* Display status highlights */
.up {
    background-color: #a0f26d !important;;
}

.down {
    background-color: #e60000 !important;;
}

.warn {
    background-color: #fe9e60 !important;;
}

