{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
	<div class="row">

		<!-- Locomotives list/table -->
		<div class="col-md-3">
			<div class="panel panel-default" style="width: 250px;">
				<div class="panel-heading">
					<h4 style="display: inline; vertical-align: bottom;">Active Locomotives</h4>
					<h6>Click a locomotive for details.</h6>
				</div>
				<!-- Table goes here - populated dynamically via AJAX in main.js -->
				<div id="locos_table">&nbsp;&nbsp;Loading...</div>
			</div>
		</div>

		<!-- Main map (w/selected loco's status/location, if one selected) -->
		<div class="col-md-9">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 style="display: inline; vertical-align: bottom;">Overview</h4>
					<h6>Click a device, locomotive, or track section for details. </h6>
				</div>
				<!-- Actual map/status content. Populated dynamically via AJAX in main.js -->
				<link rel="stylesheet" href=""> {{panel_map.js}} {{ panel_map.html }}
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">update_home_content_async();</script>

{% endblock %}