<!DOCTYPE html>

<html lang="en">
    <head>
        <title>PTC-Sim - Home</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="PTC-Sim PTC Demonstration">
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}">
        <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    </head>

    <body style="background: #4b4b49;">
        <div class="container body-content">
            <div class="navbar navbar-inverse">

                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ url_for('home') }}">PTC-Sim</a>&nbsp;
                    <br />
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{{ url_for('home') }}">Home</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="jumbotron main-panel" style="white-space:nowrap;">
                {% block content %}
                {% endblock %}
                <br />
                <h5>&copy;2018 - Dustin Fast - <a href="http://github.com/dustinfast/PTC-Sim">http://github.com/dustinfast/PTC-Sim</a></h5>
            </div>
        </div>
    </body>
</html>